.TicTac {
  padding-left: 30%;
  box-sizing: border-box;

  &__title {
    margin: 0 auto;
    padding: 3rem 3rem 0.5rem;
    color: #00348f;
    text-transform: uppercase;
  }

  &__button {
    color: #00348f;
    background: transparent;
    border: none;
    cursor: pointer;
    font-size: 20px;
    font-weight: 600;
    line-height: 45px;
    margin: 0.5rem 5rem;
    max-width: 600px;
    position: relative;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 0;

    &:hover,
    &:after {
      letter-spacing: 8px;
      transition: all 0.3s ease-in-out;
    }

    &:after,
    &:before {
      backface-visibility: hidden;
      border: 1px solid rgba(#00348f, 0);
      bottom: 0px;
      content: ' ';
      display: block;
      margin: 0 auto;
      position: relative;
      transition: all 280ms ease-in-out;
      width: 0;
    }

    &:hover:after,
    &:hover:before {
      backface-visibility: hidden;
      border-color: #00348f;
      transition: width 0.4 ease-in-out;
      width: 70%;
    }

    &:hover:before {
      bottom: auto;
      top: 0;
      width: 70%;
    }
  }

  &__container {
    height: 60%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  &__board {
    width: 600px;
    height: 600px;
    display: flex;
    flex-wrap: wrap;

    &--box {
      flex-basis: 33%;
      background: rgb(163, 204, 223);
      border: none;
    }
    &--button {
      width: 100%;
      height: 100%;
      min-height: 13rem;
      background-color: #fff;
      transition: all 0.7s ease-in-out;
      text-transform: uppercase;
      font-size: 4.5rem;
      font-weight: bolder;
      padding: 0;
      color: #1282a2;

      &:hover {
        background-color: #00348f;
      }

      &:focus {
        background-color: #00348f;
      }
    }
  }

  &__list {
    list-style: none;
    color: #00348f;
    padding: 0;
    margin: 0;

    &--item {
      padding: 0.5rem 0;
    }
  }

  &__text {
    color: #00348f;
    font-weight: 600;
    text-transform: uppercase;
    margin: 0.3rem;
  }
}
