.Sudoku {
  padding: 0 5% 0 30%;
  &__title {
    margin: 0 auto;
    padding: 3rem 3rem 0.5rem;
    color: rgb(255, 255, 255);
    text-transform: uppercase;
  }

  &__button {
    color: #1282a2;
    background: transparent;
    border: none;
    cursor: pointer;
    font-size: 20px;
    font-weight: 600;
    line-height: 45px;
    margin: 0 0 2em;
    max-width: 300px;
    position: relative;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 0;

    &:hover,
    &:after {
      letter-spacing: 8px;
      transition: all 0.3s ease-in-out;
    }

    &:after,
    &:before {
      backface-visibility: hidden;
      border: 1px solid rgba(#1282a2, 0);
      bottom: 0px;
      content: ' ';
      display: block;
      margin: 0 auto;
      position: relative;
      transition: all 280ms ease-in-out;
      width: 0;
    }

    &:hover:after,
    &:hover:before {
      backface-visibility: hidden;
      border-color: #1282a2;
      transition: width 0.4 ease-in-out;
      width: 70%;
    }

    &:hover:before {
      bottom: auto;
      top: 0;
      width: 70%;
    }
  }

  &__container {
    width: 100%;
    max-width: 400px;
    height: 100%;
    height: 400px;

    margin: 0 auto;
    padding: 1.5rem 0;

    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    gap: 1px 1px;
    grid-template-areas: '. . . . . . . . .' '. . . . . . . . .' '. . . . . . . . .' '. . . . . . . . .' '. . . . . . . . .' '. . . . . . . . .' '. . . . . . . . .' '. . . . . . . . .' '. . . . . . . . .';
  }

  &__cell {
    background-color: grey;

    &--input {
      width: 100%;
      height: 100%;
      box-sizing: border-box;
    }
  }
}
