.Hangman {
  padding: 0 5% 0 30%;
  &__title {
    text-transform: uppercase;
    color: #00348f;
    margin: 0 auto;
    padding: 3rem 3rem 0.5rem;
  }

  &__button-game {
    color: #00348f;
    background: transparent;
    border: none;
    cursor: pointer;
    font-size: 20px;
    font-weight: 600;
    line-height: 45px;
    margin: 0;
    max-width: 300px;
    position: relative;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 0;

    &:hover,
    &:after {
      letter-spacing: 8px;
      transition: all 0.3s ease-in-out;
    }

    &:after,
    &:before {
      backface-visibility: hidden;
      border: 1px solid rgba(#00348f, 0);
      bottom: 0px;
      content: ' ';
      display: block;
      margin: 0 auto;
      position: relative;
      transition: all 280ms ease-in-out;
      width: 0;
    }

    &:hover:after,
    &:hover:before {
      backface-visibility: hidden;
      border-color: #00348f;
      transition: width 0.4 ease-in-out;
      width: 70%;
    }

    &:hover:before {
      bottom: auto;
      top: 0;
      width: 70%;
    }
  }

  &__buttons {
    border: 2px solid #00348f;
    background: transparent;
    margin: 0.5rem;
    padding: 0.8rem 1rem;
    text-transform: uppercase;
    font-weight: bolder;
    color: #00348f;
    border-radius: 50%;

    &:hover {
      animation: spinner4 800ms linear infinite;

      @keyframes spinner4 {
        to {
          transform: scale(1.5);
          opacity: 0;
        }
      }
    }

    &:disabled {
      opacity: 0.3;
    }
  }

  &__letters {
    padding: 2rem 0;
    width: 90%;

    @media screen and (min-width: 1350px) {
      width: 880px;
      margin: 0 auto;
    }
  }

  &__answer {
    font-size: 3rem;
    text-transform: uppercase;
    letter-spacing: 1rem;
  }

  &__over {
    text-transform: uppercase;
    color: #1282a2;
  }

  &__help {
    opacity: 0;
    transition: all 0.3s ease-in-out;
    color: #797675;

    &:hover {
      opacity: 1;
    }
  }

  &__subtitle {
  }
}
