.Home {
  padding: 0 5% 0 30%;
  &__title {
    margin: 0 auto;
    padding: 3rem 3rem 0.5rem;
    color: #1282a2;
    text-transform: uppercase;
  }

  &__rulebook {
    color: #1282a2;
    font-weight: 300;

    > p {
      text-align: justify;
    }
  }

  &__images {
    width: 128px;
    height: 128px;
    display: flex;
    margin: auto;
    justify-content: center;
    align-items: center;
    transition: all 0.2s ease-in-out;

    &:hover {
      animation: swing 1s ease;
      animation-iteration-count: 1;
    }

    @keyframes swing {
      15% {
        transform: translateX(5px);
      }
      30% {
        transform: translateX(-5px);
      }
      50% {
        transform: translateX(3px);
      }
      65% {
        transform: translateX(-3px);
      }
      80% {
        transform: translateX(2px);
      }
      100% {
        transform: translateX(0);
      }
    }
  }
}
