.Navbar {
  position: fixed;
  width: 25%;
  height: 100vh;
  background: #0a1128;
  font-size: 0.8rem;

  &__list {
    list-style: none;
    padding: 0;

    &--item {
      position: relative;
      margin: 3.2em 0;
    }
  }

  &__link {
    line-height: 5em;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 0.4em;
    color: #1282a2;
    display: block;
    transition: all ease-out 300ms;

    &:hover {
      scale: 1.1;
      filter: brightness(2);
      color: #1c9cc0;
    }
  }

  &__image-wrapper {
    margin-top: 20vh;
  }

  &__text {
    color: #1282a2;
  }

  &__image {
    bottom: 0;
    width: 60%;
    height: 90%;
    border-radius: 50%;
    filter: grayscale(100%);
    transition: all ease-in 0.3s;

    &:hover {
      filter: none;
    }
  }

  &__contact {
    display: flex;
    align-items: center;
    margin: 0 20%;

    @media screen and (min-width: 1700px) {
      margin: 0 40%;
    }

    @media screen and (max-width: 1700px) {
      margin: 0 30%;
    }

    > p {
      color: #1282a2;
    }

    &--link {
      text-decoration: none;
      color: #1282a2;
    }
  }

  &__icon {
    width: 1.5rem;
    height: 1.5rem;
  }
}
